<!-- 親テンプレートを読み込む-->
{% extends './base.html' %}
{% block content %}
 <div class="content-wrapper">
   <div class="container-fluid">
     <!-- パンくずリストの設定-->
     <ol class="breadcrumb">
       <li class="breadcrumb-item">
         <a href="{% url 'kakeibo:kakeibo_list' %}">TOP</a>
       </li>
       <li class="breadcrumb-item active">カテゴリ毎の合計金額推移</li>
     </ol>
     <!--ページタイトル-->
     <div class="card mb-3">
       <div class="card-header">
          <h3><b>家計簿アプリ（カテゴリ毎の合計金額推移）</b></h3></div>
       <div class="card-body">

         <!-- 円グラフの描画-->
         <div class="chart_container">
             <canvas id='LineChart' style="position: relative; height:25vh; width:25vw"></canvas>
           </div>

       </div>
      </div>
   </div>
  </div>

{% endblock content %}